In [1]:
import numpy as np
from pandas import DataFrame

In [2]:
dframe = DataFrame(np.arange(12).reshape((3,4)),
                  index=['NY','LA','SF'],
                  columns=['A','B','C','D'])
dframe

    A  B   C   D
NY  0  1   2   3
LA  4  5   6   7
SF  8  9  10  11

In [ ]:
str.lower('')