In [1]:
import pandas as pd 
from pandas import Serieseri, DataFrame

ImportError: cannot import name 'Serieseri' from 'pandas' (/Users/tokoshige_mac/anaconda3/lib/python3.7/site-packages/pandas/__init__.py)

In [2]:
titanic_df = pd.read_csv('lec56_train.csv')

In [3]:
titanic_df.head()

   PassengerId  Survived  Pclass    ...        Fare Cabin  Embarked
0            1         0       3    ...      7.2500   NaN         S
1            2         1       1    ...     71.2833   C85         C
2            3         1       3    ...      7.9250   NaN         S
3            4         1       1    ...     53.1000  C123         S
4            5         0       3    ...      8.0500   NaN         S

[5 rows x 12 columns]