In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [4]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [6]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [10]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  0.874545 -0.539455 -0.621568  1.494235 -0.044548
B  0.527700 -2.983539 -0.297756  0.811176 -0.460102
D  1.772834  0.208539 -0.635136 -0.312500  2.666614
E -0.249246 -0.030833  0.594130  0.910499  0.362809
F -0.355235  0.628155  0.125142 -1.339825 -2.028403

In [11]:
new_index = ['A','B','C','D','E','F']
dframe2 = dframe.reindex(new_index)
dframe2

       col1      col2      col3      col4      col5
A  0.874545 -0.539455 -0.621568  1.494235 -0.044548
B  0.527700 -2.983539 -0.297756  0.811176 -0.460102
C       NaN       NaN       NaN       NaN       NaN
D  1.772834  0.208539 -0.635136 -0.312500  2.666614
E -0.249246 -0.030833  0.594130  0.910499  0.362809
F -0.355235  0.628155  0.125142 -1.339825 -2.028403

In [12]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns,fill_value=0)

       col1      col2      col3      col4      col5  col6
A  0.874545 -0.539455 -0.621568  1.494235 -0.044548     0
B  0.527700 -2.983539 -0.297756  0.811176 -0.460102     0
C       NaN       NaN       NaN       NaN       NaN     0
D  1.772834  0.208539 -0.635136 -0.312500  2.666614     0
E -0.249246 -0.030833  0.594130  0.910499  0.362809     0
F -0.355235  0.628155  0.125142 -1.339825 -2.028403     0

In [13]:
dframe

       col1      col2      col3      col4      col5
A  0.874545 -0.539455 -0.621568  1.494235 -0.044548
B  0.527700 -2.983539 -0.297756  0.811176 -0.460102
D  1.772834  0.208539 -0.635136 -0.312500  2.666614
E -0.249246 -0.030833  0.594130  0.910499  0.362809
F -0.355235  0.628155  0.125142 -1.339825 -2.028403

In [14]:
dframe.ix[new_index,new_columns]

/Users/tokoshige_mac/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
/Users/tokoshige_mac/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A  0.874545 -0.539455 -0.621568  1.494235 -0.044548   NaN
B  0.527700 -2.983539 -0.297756  0.811176 -0.460102   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.772834  0.208539 -0.635136 -0.312500  2.666614   NaN
E -0.249246 -0.030833  0.594130  0.910499  0.362809   NaN
F -0.355235  0.628155  0.125142 -1.339825 -2.028403   NaN