In [1]:
import pandas as pd

<img src="lec28_.png">

In [3]:
dframe = pd.read_excel('lec28_test.xlsx', sheet_name='Sheet1')
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365

In [ ]:
import webbrowser