In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
animals = DataFrame(np.arange(4*4).reshape((4,4)),
                   columns=['W','X','Y','Z'],
                   index=['Dog','Cat','Bird','Mouse'])

In [3]:
animals

        W   X   Y   Z
Dog     0   1   2   3
Cat     4   5   6   7
Bird    8   9  10  11
Mouse  12  13  14  15

In [4]:
animals.ix[1:2,['W','Y']] = np.nan

/Users/tokoshige_mac/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [5]:
animals

          W   X     Y   Z
Dog     0.0   1   2.0   3
Cat     NaN   5   NaN   7
Bird    8.0   9  10.0  11
Mouse  12.0  13  14.0  15

In [6]:
behavior_map = {'W':'bad','X':'good','Y':'bad','Z':'good'} #辞書型

In [7]:
animals_col = animals.groupby(behavior_map, axis=1)

In [8]:
animals_col.sum()

        bad  good
Dog     2.0   4.0
Cat     0.0  12.0
Bird   18.0  20.0
Mouse  26.0  28.0

In [9]:
behavior_series = Series(behavior_map)

In [10]:
behavior_series

W     bad
X    good
Y     bad
Z    good
dtype: object

In [11]:
animals.groupby(behavior_series, axis=1).count()

       bad  good
Dog      2     2
Cat      0     2
Bird     2     2
Mouse    2     2

In [13]:
animals

          W   X     Y   Z
Dog     0.0   1   2.0   3
Cat     NaN   5   NaN   7
Bird    8.0   9  10.0  11
Mouse  12.0  13  14.0  15

In [14]:
animals.groupby(len).sum() #文字サイズでグループ化

      W   X     Y   Z
3   0.0   6   2.0  10
4   8.0   9  10.0  11
5  12.0  13  14.0  15

In [ ]:
け