In [1]:
import numpy as np
import pandas as pd
import xgboost as xgb

In [6]:
input_dir = "D:/workDdrive/Deeplearning/xgboost_intro/input"
print(input_dir)

D:/workDdrive/Deeplearning/xgboost_intro/input

In [12]:
df_train = pd.read_csv(f"{input_dir}/train.csv")
print(len(df_train.index))
print(len(df_train.columns))
df_train.head()

61878
95

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [13]:
df_test = pd.read_csv(f"{input_dir}/test.csv")
print(len(df_test.index))
print(len(df_test.columns))
df_test.head()

144368
94

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
0,1,0,0,0,0,0,0,0,0,0,...,0,0,11,1,20,0,0,0,0,0
1,2,2,2,14,16,0,0,0,0,0,...,0,0,0,0,0,4,0,0,2,0
2,3,0,1,12,1,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,0,...,0,3,1,0,0,0,0,0,0,0
4,5,1,0,0,1,0,0,1,2,0,...,0,0,0,0,0,0,0,9,0,0

クラスは9つあり、分布には偏りあり。
xgboostの認識のために、クラスを数値に変換しておきます。

In [14]:
df_train['target'].value_counts()

Class_2    16122
Class_6    14135
Class_8     8464
Class_3     8004
Class_9     4955
Class_7     2839
Class_5     2739
Class_4     2691
Class_1     1929
Name: target, dtype: int64

In [16]:
Class = {u'Class_1':0,
        u'Class_2':1,
        u'Class_3':2,
        u'Class_4':3,
        u'Class_5':4,
        u'Class_6':5,
        u'Class_7':6,
        u'Class_8':7,
        u'Class_9':8,}

モデルトレーニングですが、本家の説明を見ながらモデリングします。
Scikit-Learnラッパーも用意されていて、馴染みのある文法でも記述できますので、慣れている方はそっちでも良いかもしれません。
が、後に出てくる変数重要度を可視化することなど考えて、通常のモデリングを選択しています。

In [17]:
df_train = df_train.replace(Class)

In [19]:
df_train['target']

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
61848    8
61849    8
61850    8
61851    8
61852    8
61853    8
61854    8
61855    8
61856    8
61857    8
61858    8
61859    8
61860    8
61861    8
61862    8
61863    8
61864    8
61865    8
61866    8
61867    8
61868    8
61869    8
61870    8
61871    8
61872    8
61873    8
61874    8
61875    8
61876    8
61877    8
Name: target, Length: 61878, dtype: int64

In [20]:
df_X = df_train.ix[:,1:94]
df_X.head()

C:\anaconda30\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
0,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,6,1,5,0,0,1,...,22,0,1,2,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [22]:
df_y = df_train["target"]
df_y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [25]:
#Split data set to train and test data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, test_size = 0.2, random_state=1)

In [38]:
#Get labels
labels = pd.read_csv(f"{input_dir}/train_label.csv")
feature_names = list(labels)
#len(feature_names)

In [50]:
df_X_train = pd.DataFrame(X_train)
# dtrain = xgb.DMatrix(df_X_train.as_matrix(),
#                      label=y_train.tolist(),
#                     feature_names=feature_names)
dtrain = xgb.DMatrix(df_X_train.as_matrix(),
                     label=y_train.tolist())

In [51]:
df_X_test = pd.DataFrame(X_test)
dtest = xgb.DMatrix(df_X_test.as_matrix())

パラメータに関しては今回はデフォルト値でやってみます。

In [53]:
# Set parameteres
params={"objective": "multi:softprob", 
        "eval_metric": "mlogloss",
        "eta": 0.3, 
        "max_depth": 6, 
        "min_child_weight": 1, 
        "subsample": 1, 
        "colsample_bytree": 1,
        "num_class": 9
        }

記事では、ここでクロスバリデーションの説明をしてますが、その結果をどう使うか的な記述は一切なく、この記事だけでは消化不良。
なので、別のフォーラムから、「XGBOOST and cross validation」なんてのを拾ってきました。

大したこと書いてあるわけじゃないのですが、num_boost_roundは少なくとも200でやって、テストデータのerror rateの一番少ない回数選びなさいよとのことです。
このnum_boost_roundについては、納得出来てない部分もあるので、後ほど少し考察してみます。
とりあえずで、やってみました。133回が良さそうです。

In [54]:
cv = xgb.cv(params,dtrain,num_boost_round=200,nfold=10)

NameError: name 'prin' is not defined

In [55]:
print(cv)

     test-mlogloss-mean  test-mlogloss-std  train-mlogloss-mean  \
0              1.553377           0.008262             1.539462
1              1.301285           0.010223             1.279902
2              1.138108           0.012092             1.110979
3              1.023593           0.012769             0.990949
4              0.937692           0.012307             0.900568
5              0.872693           0.012834             0.831458
6              0.820213           0.012528             0.774874
7              0.778277           0.012113             0.729057
8              0.744267           0.012595             0.691350
9              0.716865           0.012671             0.660201
10             0.693565           0.012962             0.633344
11             0.674594           0.012504             0.610857
12             0.658474           0.012048             0.591268
13             0.644413           0.011655             0.574100
14             0.631941           0.011412             0.558899
15             0.621471           0.011769             0.545616
16             0.612083           0.011570             0.533447
17             0.604004           0.011373             0.522560
18             0.596834           0.011172             0.512770
19             0.590693           0.011267             0.504286
20             0.584897           0.011477             0.496189
21             0.579648           0.011588             0.488384
22             0.574762           0.011392             0.481419
23             0.570459           0.011337             0.474781
24             0.566447           0.011302             0.468558
25             0.562332           0.011284             0.462153
26             0.558675           0.011388             0.456509
27             0.555350           0.011264             0.451158
28             0.552216           0.011135             0.446012
29             0.549249           0.011190             0.441058
..                  ...                ...                  ...
170            0.481170           0.008842             0.204005
171            0.481211           0.008940             0.203194
172            0.481245           0.008991             0.202390
173            0.481205           0.009058             0.201522
174            0.481188           0.009080             0.200655
175            0.481203           0.008966             0.199907
176            0.481340           0.009000             0.198994
177            0.481366           0.008925             0.198219
178            0.481288           0.008974             0.197466
179            0.481360           0.009021             0.196757
180            0.481371           0.009055             0.196002
181            0.481469           0.009009             0.195277
182            0.481485           0.009019             0.194570
183            0.481449           0.008956             0.193829
184            0.481486           0.008991             0.192962
185            0.481413           0.008972             0.192107
186            0.481502           0.008971             0.191315
187            0.481454           0.008923             0.190553
188            0.481536           0.008989             0.189767
189            0.481609           0.008982             0.189029
190            0.481614           0.008998             0.188246
191            0.481735           0.009015             0.187437
192            0.481821           0.008923             0.186718
193            0.481891           0.009000             0.186032
194            0.481904           0.009108             0.185322
195            0.481906           0.009063             0.184485
196            0.481993           0.008976             0.183758
197            0.482067           0.008896             0.183093
198            0.482114           0.008861             0.182459
199            0.482129           0.008853             0.181835

     train-mlogloss-std
0              0.001748
1              0.001783
2              0.001779
3              0.001488
4              0.001670
5              0.001867
6              0.002022
7              0.002435
8              0.002145
9              0.002019
10             0.001847
11             0.002097
12             0.002246
13             0.002531
14             0.002667
15             0.002034
16             0.002251
17             0.002413
18             0.002414
19             0.002351
20             0.002340
21             0.002436
22             0.002630
23             0.002381
24             0.002424
25             0.002519
26             0.002466
27             0.002430
28             0.002523
29             0.002653
..                  ...
170            0.001964
171            0.002023
172            0.002023
173            0.002035
174            0.001976
175            0.001924
176            0.001885
177            0.001907
178            0.001903
179            0.001810
180            0.001678
181            0.001610
182            0.001639
183            0.001645
184            0.001715
185            0.001684
186            0.001655
187            0.001683
188            0.001694
189            0.001638
190            0.001658
191            0.001688
192            0.001742
193            0.001672
194            0.001645
195            0.001574
196            0.001669
197            0.001649
198            0.001605
199            0.001628

[200 rows x 4 columns]

In [56]:
#Training
bst = xgb.train(params,dtrain,num_boost_round=133)